#aboutus
{
  width: 100%;
  height: 800px;
  display: flex; /* flex box display */
  background-color: rgb(233, 98, 181);
}

#left-side
{
  flex: 1.5; /* give bigger value for left side */
  background: linear-gradient(to right, #ec94d2, #fcd1d9, #aad5f8);
  flex-direction: column; /* display flex columns */
  justify-content: flex-start; /* align flex items to the start of the container */
  width: 300px;
}

#right-side
{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#image-slider
{
  flex: 1;
  overflow: hidden; /* hidden overflow to avoid the overflow to the other parts */
  position: relative;
}

.slide 
{
  width: 100%;
  height: 100%;
  display: none;
}
.heading 
{
  margin-bottom: 20px;
  text-align: center;
}

.heading h2
{
  font-size: 35px;
  font-weight: bolder;
  font-family: Apple Chancery, cursive;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2), 4px 4px 0px rgba(0, 0, 0, 0.2), 6px 6px 0px rgba(0, 0, 0, 0.2); 
}

.heading p
{
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
}

#contact
{
  flex: 1;
  background: linear-gradient(to top, #a5dde5, #f0cbe0); /* gradient background */
}

.contact-heading
{
  font-family: Arial Narrow, sans-serif;
  font-weight: bold; /* bold font */
  text-align: center;
}
.email-container 
{
  display: flex;
  align-items: center;
  text-align: center; /* align the text to center */
  justify-content: center; /* place things at the center*/
}

.email-container img 
{
  width: 30px; /* width for email image*/
  margin-right: 10px; 
  border-radius: 30%;
}

.circle-container 
{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 15px; /* gap between circles */
}

.circle 
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to top, #456d74, #f3d2e5);
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); 
  overflow: hidden; /* not to overflow the texts outside the circles */
}

.circle p 
{
  color: black;
  font-weight: bold;
  animation: blingctext 1.5s infinite; /* animation effects for circles */
  text-align: center;
}

@keyframes blingctext /* keyframes for blingctext*/
{
  0% 
  {
    transform: scale(1); /* transform values */
    opacity: 0;
  }
  50% 
  {
    transform: scale(1.5);
    opacity: 1;
  }
  100% 
  {
    transform: scale(1);
    opacity: 0;
  }
}

.github-link a 
{
  color: #4036ca; /* text color for github link */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center; /* place items at the center part */
  justify-content: center;
}

.github-link img 
{
  width: 50px; /* width for image in github link */
  margin-right: 5px;
  border-radius: 30%; /* adjust border */
}

#paragraphs
{
  margin-top: 15%;
  flex-wrap: wrap; /* flex items to wrap onto multiple lines if necessary*/
  gap: 10px;
  display: flex; 
  text-align: center;
}

.pleft, .pright 
{
  margin-bottom: 10px;
  border-radius: 20%;
  background-color: rgba(240, 93, 154, 0.315);
  width: calc(50% - 70px); /* defined width*/
  height: 250px;
  line-height: 2; /* add line spacing */
  font-family: monospace;
  margin-left: 20px;
  margin-right: 20px;
  animation: bling 1s infinite alternate; /* animation effects of left andd right paragraphs */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transform-style: preserve-3d; /* apply 3d transformation and 3d effects */
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg); /* rotate the paragraphs in 3d space */
  overflow: hidden; 
}

@keyframes bling /* defined keyframe for paragraphs container */
{
  from 
  {
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1);
  }
  to 
  {
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.05);
  }
}


