body
{
    background-color: #ffebbb; ; ;
    margin: auto;
    padding: 0%;
}

.container
{
    width:500px;
    height: 500px;
    background-color: rgb(235, 165, 165);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    animation: bling-bling 2s infinite alternate;
}

@keyframes bling-bling {
    0% {
      background-color: #ffcab0; ; 
    }
    50% {
      background-color: #f1c8ef; 
    }
    100% {
      background-color: #e0ffcd; ; 
    }
  }

  .welcome
  {
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  }

  .player
  {
    text-align: center;
    color: rgb(56, 13, 13);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 80px;
  }

  .container input[type="text"]
  {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(207, 159, 159);
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container input[type="text"]:focus
  {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .join
  {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0ffcd;;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 0 auto;
    display: block;
    width: 70px;
    margin-top: 100px;
  }

  .join:hover
  {
    background-color: rgb(8, 88, 44);
  }

#welcomemessage
{
  display: none;
  background-color: #c8d9eb;
  text-align: center;
  padding: 20px;
  border: 2px solid #11176d;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: bling 1s infinite alternate;
}

@keyframes bling {
  from {
    background-color: #b7dcfa; 
  }
  to {
    background-color: #e4e4b6; 
  }
}
.weltext
{
  font-size: 30px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sectext
{
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
