body
{
    background-color: rgb(224, 184, 184);
    margin: 0;
    padding: 0;
}

.container
{
    width:500px;
    height: 500px;
    background-color: rgb(235, 165, 165);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    animation: bling-bling 2s infinite alternate;
}

@keyframes bling-bling {
    0% {
      background-color: #ffcab0; ; 
    }
    50% {
      background-color: #f1c8ef; 
    }
    100% {
      background-color: #e0ffcd; ; 
    }
  }

  .welcome
  {
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  }

  .player
  {
    text-align: center;
    color: rgb(56, 13, 13);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 80px;
  }

  .container input[type="text"]
  {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(207, 159, 159);
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container input[type="text"]:focus
  {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .join
  {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0ffcd;;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 0 auto;
    display: block;
    width: 70px;
    margin-top: 100px;
  }

  .join:hover
  {
    background-color: rgb(8, 88, 44);
  }

#welcomemessage
{
  display: none;
  background-color: #c8d9eb;
  text-align: center;
  padding: 20px;
  border: 2px solid #11176d;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: bling 1s infinite alternate;
}

@keyframes bling {
  from {
    background-color: #b7dcfa; 
  }
  to {
    background-color: #e4e4b6; 
  }
}
.weltext
{
  font-size: 30px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sectext
{
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

#gameheader
{
  background-color:#ffe0e0; 
  width: 100%;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.gametitle
{
  text-align: center;
  font-size: 80px;
  color: rgb(218, 109, 199);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff, 
               2px 2px 0 #fff,
               3px 3px 0 #4e4b4b, 
               4px 4px 0 #17161f, 
               5px 5px 0 #120f1f; ;
  animation: twinkling 2s infinite;
  margin-top: 5px;
}

@keyframes twinkling {
  0% { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.8; }
}

.homenav
{
  text-align: center;
  width: 100px;
  height: 45px;
  border: 5px solid  #e67a7a; 
  border-radius: 15px; 
  background-color: #fff4e1; 
  position: absolute;
  top: 90px;
  left: 50px;
  box-shadow: 0 0 10px rgb(77, 44, 60);
}

.homenav a
{
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  font-family: URW Chancery L, cursive;
}

.aboutnav
{
  text-align: center;
  width: 100px;
  height: 45px;
  border: 5px solid  #e67a7a; 
  border-radius: 15px; 
  background-color: #fff4e1; 
  position: absolute;
  top: 90px;
  right: 50px;
  box-shadow: 0 0 10px rgb(77, 44, 60);
}

.homenav:hover
{
  background-color: #e2c5dc;
}

.aboutnav a
{
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  font-family: URW Chancery L, cursive;
}

.aboutnav:hover
{
  background-color: #e2c5dc;
}

#gamebody
{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  background: linear-gradient(to right, #f5a3a3, #a3d8f5);
  transition: background 1s ease;
}

#gamebody:hover
{
  background: linear-gradient(to right, #a3d8f5, #f5a3a3);
}

.start
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 80px;
  padding: 40px 60px;
  font-size: 30px;
  font-weight: bold;
  font-family: Luminari, fantasy;
  background-color: #ffb5c5;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 20px 10px #d1eba2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
  transition: padding 0.3s ease, box-shadow 0.3s ease;
}

.start:hover
{
  box-shadow: 0px 0px 30px 15px #cff0a9;
  padding: 60px 80px;
}

.bunny
{
  width: 150px;
  height: 150px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  clip-path: 50%;
  background-image: url('../images/bunny1.jpeg');
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.top-left
{
  top: 0;
  left: 0;
}

.top-right
{
  top: 0;
  right: 0;
}

.bottom-left
{
  bottom: 0;
  left: 0;
}

.bottom-right
{
  bottom: 0;
  right: 0;
}

.game2body
{
  width: 60%;
  margin: 0 auto;
}

#gameplay
{ 
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(226, 130, 178);
}

.instructions
{
  display: none;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  padding: 20px;
  color: rgb(34, 2, 18);
  border: 5px dotted rgb(236, 25, 141);
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  animation: instruction 0.5s infinite linear alternate; 
}

@keyframes instruction {
  0% {
    box-shadow: 0 0 20px rgba(206, 96, 96, 0.5), 0 0 40px rgba(221, 46, 221, 0.5);
}
100% {
    box-shadow: 0 0 40px rgba(211, 186, 76, 0.5), 0 0 60px rgba(255, 191, 54, 0.5); 
}
}

.grid-container
{
  display: grid;
  grid-template-columns: repeat(3 , 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.hole
{
  width: 150px;
  height: 150px;
  background-color: black;
  border: 2px solid #e4cfda;
  border-radius: 50%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.bunnygrid
{
  width: 150px;
  height: 150px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  background-image: url('../images/bunny2.jpeg');
  background-size: cover;
}

.timerbox
{
  width: 150px;
  height: 50px;
  background-color: pink;
  border: 3px solid black;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

.score-display
{
  display: none;
  position: absolute;
  width: 400px;
  height: 120px;
  top: 50%;
  left: 50%;
  padding: 20px;
  color: rgb(12, 11, 11);
  transform: translate(-50%, -50%);
  border: 5px solid rgb(27, 26, 27);
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(to right, #FFB6C1, #ADD8E6);
  text-align: center;
  padding-top: 20px;
}


.buttonbox
{
  display: flex;
  justify-content: center;
}

.restart-button, .home-button
{
  background: linear-gradient(to right, pink, rgb(107, 107, 236));
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.restart-button:hover, .home-button:hover 
{
  opacity: 0.8;
}

.joke
{
  text-align: center;
  top: 5%;
  right: 5%;
  position: fixed;
}

.joke button 
{
  width: 300px;
  height: 70px;
  font-size: 16px;
  background: linear-gradient(to right, pink, rgb(236, 108, 179));
  color: white;
  font-weight: bold;
  font-family: Bradley Hand, cursive;
  border: none;
  border-radius: 20px;
  border: 4px solid #1d010e;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: joke-light 1s infinite alternate;
}

@keyframes joke-light 
{
  0% {
    box-shadow: 0 0 10px rgba(178, 240, 34, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(18, 49, 221, 0.5);
  }
  100% {
    box-shadow: 0 0 30px rgba(228, 86, 216, 0.8);
  }
}

.rabbit-fact button:hover {
  background-color: #e47bbc; 
}

#footerpart
{
  width: 100%;
  height: 100px;
  background-color: #dfa6a6; 
}